.service-card {
    border: none;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 25px;
    height: 254px;
}

.service-card .card-body {
    margin-top: -15px;
    margin-left: -15px;
}

.pending-red {
    color: #FF4545;
    background-color: #FFE3E3;
    border: none;
}

.onGoing-yellow {
    color: #fd8c01;
    background-color: #FFBD3E4a;
    border: none;
}

.done-green {
    color: #009444;
    background-color: #C6FFE0;
    border: none;
}