.card-style {
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 45ch;
}

.card-animated {
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
    margin-bottom: 25px;
  }
  
  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.3);
  }